html{
    height: 100%;
    background: linear-gradient(#0000ff, #28b867);
    background-size: cover;
}

#main{
    width: 50%;
    margin: auto;
    padding: 8px;
}

.selectors{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
}

/* .angle {
    max-width: 52px;
    max-height: 52px;
    min-width: 52px;
    min-height: 52px;
    position: relative;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 26px;
    transform: rotate(180deg);
}

.pointerDock {
    max-width: 4px;
    max-height: 4px;
    min-width: 4px;
    min-height: 4px;
    position: absolute;
    margin: 22px;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 25px;
}

.pointer {
    max-width: 2px;
    max-height: 25px;
    min-width: 2px;
    min-height: 25px;
    position: absolute;
    transform: rotate(0deg);
    background-color: rgb(85, 85, 85);
    border: 1px solid gray;
    border-radius: 4px;
    right: 24px;
    bottom: -1px;
    transform-origin: top center;
} */

.buttons {
    display: flex;
    justify-content: center;
}

.button{
    padding: 8px;
    margin: 10px;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 25px;
    color: white;
}

.gradSelector{
    padding: 0% 5%;
    display: grid;
    justify-content: center;
}

.selectText{
    padding: 8px;
    background-color: rgb(85, 85, 85);
    border-radius: 20px;
    color: white;
}

.colorPicker {
    justify-content: center;
    padding: 0px;
    margin: auto;
    min-height: 100px;
    min-width: 100px;
    border: none;
    background-color: rgb(85, 85, 85);
}

#labelSnippet {
    width: 100%;
    margin: auto;
    padding: 12px;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 25px;
    color: white;
}

#cssValue {
    width: 90%;
    margin: auto;
    padding: 12px;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
}

#angleBody {
    width: 50%;
    margin: auto;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
}

.angle {
    width: 90%;
    display: block;
    margin: auto;
}

#angleValue {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
}
/* 
#angleValue {
    margin: auto;
    padding: 12px;
    background-color: rgb(85, 85, 85);
    border: 2px solid gray;
    border-radius: 15px;
    color: white;
} */