html{
    height: 100%;
    background: linear-gradient(#0000ff, #28b867);
    background-size: cover;
}

.selectors{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.gradSelector{
    padding: 0% 5%;
    display: grid;
    justify-content: center;
}

.selectText{
    color: aqua;
}

.applyButton{
    color: aqua;
    background-color: black;
}

.colorPicker {
    justify-content: center;
    padding: 0%;
    margin: 5%;
    height: 100px;
    width: 100px;
    border: none;
}
